@using TravelApp.Models
@model AppUser
@{
    ViewData["Title"] = "Edit Users";
    Layout = "_Layout";
}

<div class="jumbotron text-center">
    <h1>Edit Users</h1>
    <h2>@Model.FirstName @Model.LastName</h2>
</div>
<div class="subNav">
    <div class="container">
        <a class="btn btn-outline-primary back-btn" asp-action="Index"> <i class="fas fa-arrow-left"></i> </a>
    </div>
</div>
<div class="container">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Edit" method="post">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input name="password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-outline-primary">Save</button>
        <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
