@model TravelApp.Models.CreateModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

<div class="jumbotron text-center jumbotron-fluid">
    <h1>Register</h1>
</div>
<div class="container">
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="WctcID">WCTC ID</label>
            <input asp-for="WctcID" class="form-control" />
            <span asp-validation-for="WctcID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
    </form>
</div>
