
@{
    ViewData["Title"] = "CoordinatorDocsListView";
    Layout = "_Layout";
}
<div class="jumbotron text-center">
    <h1>Review Forms</h1>
</div>
<div class="subNav">
    <div class="container">
        <a asp-action="Index" class="btn btn-outline-primary back-btn"><i class="fas fa-arrow-left"></i></a>
    </div>
</div>
<div class="container">
            <a style="width: 250px; height: 50px; margin: 1%;" asp-action="ClubAdvisorTravelChecklist" class="btn btn-outline-primary">Travel Checklist</a>
            <a style="width: 250px; height: 50px; margin: 1%;" asp-action="TravelRequestForm" class="btn btn-outline-primary ">Travel Request Form</a>
            <a style="width: 250px; height: 50px; margin: 1%;" asp-action="FieldTripForm2" class="btn btn-outline-primary ">Field Trip Form</a>
            <a style="width: 250px; height: 50px; margin: 1%;" asp-action="RentalCarPreapprovalForm" class="btn btn-outline-primary ">Rental Car Preapproval Form</a>        
            <a style="width: 250px; height: 50px; margin: 1%;" asp-action="TravelFundingVerification" class="btn btn-outline-primary">Club Travel Funding Form</a>
</div>



